@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --card-color: rgba(199, 199, 199, 0.24);
  --accent-color: #54c4c1;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Mono", monospace;
  width: 100vw;
  line-height: 1.6;
  color: #000;
}
.aboutMe,
.skills,
.cert,
.projects,
.contact {
  padding: 3rem;
}
/* Navigation */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  top: 0;
  position: absolute;
  padding: 1rem;
}

.nav__logo {
  height: 50px;
  width: 50px;
  border-radius: 35%;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 30rem;
}

.nav__menu__link {
  width: 100%;
  position: relative;
  transition: transform 0.4s ease-in-out, color 0.4s ease-in-out;
}

.nav__menu__link a {
  text-align: center;
  color: #fff;
}
.nav__menu__link :nth-child(1) {
  padding-bottom: 5rem;
}

.nav__menu__link i {
  padding: 0.4rem;
  display: none;
}
.nav__menu__link:hover a {
  color: #5f9ea0;
  transform: scale(1.01);
}

.nav__menu__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5f9ea0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in-out;
}

.nav__menu__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav__hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav__hamburger__line {
  width: 25px;
  height: 3px;
  background: black;
  margin: 4px 0;
}

#bolt {
  font-size: 1.5rem;
  color: #b6b6b6;
  padding: 1rem;
  cursor: pointer;
}

#bolt:hover {
  transform: translate(5px, 4px);
}

/* scroll to top */
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 13.5px 15px;
  background-color: rgba(84, 196, 193, 0.85); /* Matches your preferred theme */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

#scrollToTop.show {
  display: block;
}
#scrollToTop i {
  font-size: 1.8rem;
}

/* end of scroll to top */

/* Welcome Section */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.welcome {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: right;
  color: #ececec;

  background-color: #000000;
  overflow: hidden;

  background: url("photos/aric-cheng-cd_0nJaCxuM-unsplash.jpg");
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents image repetition */
}
.WelcomeCon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.welcomeText h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #2c2c2c;
}
.welcomeText h2 {
  width: 100vw;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  padding: 2rem;
  margin-left: 4rem;
}

.welcome h3 {
  font-size: 1rem;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.welcome h1 .input {
  margin-top: 2em;
  color: #ffffff;
}
.welcomeRight {
  width: 50%;
}

.headshotCon {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.headshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;

  top: 20rem;
}

/* Social Icons */
.social {
  justify-content: center;
  display: flex;
  padding-top: 1.5rem;
  gap: 5rem;
}
.social a {
  color: #ccc;
  font-size: 1.8rem;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.social a:hover {
  color: var(--accent-color);
  transform: rotate(360deg);
}

/* About Me Section */
.aboutMe {
  border-top: 1px solid #cccccc1f;

  background-color: #000;
}

.aboutMe .paragraph1,
.aboutMe .paragraph2 {
  color: #fff;
  text-align: center;
}

.paraCon {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.paragraphs {
  display: flex;
  flex-direction: column;
}

.imgCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.aboutMe .evolve {
  color: #fff;
  text-align: center;
}
.paraCon h1 {
  text-align: center;
  color: rgb(75, 75, 75);
  font-size: 2.4rem;
  font-family: "Titillium Web", sans-serif;
}

.paraCon p {
  text-align: left;
  font-size: 1.15rem;
  font-weight: 300;
  color: #000000;
}

/* Certifications Section */
.cert {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5rem auto;
  max-width: 1200px;
  gap: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cert .textCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 2rem);
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: 300;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.textCont a {
  color: var(--accent-color);
  transition: color ease-in-out 0.55s;
}

.textCont a:hover {
  color: var(--accent-color);
}

.cert .textCont:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cert .certIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.cert .certIcon img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.cert .textCont p {
  font-size: 1.15rem;
  font-weight: 300;
  color: #666;
  text-align: left;
  padding: 0 1rem;
}

/* Skills Section */

.skills {
  text-align: center;
  background-color: #000;
}
.skills h2 {
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  color: #5d5d5d;
  text-align: center;
}
.skills .landSide {
  padding: 3rem;
}
.skills .landSide p {
  text-align: center;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 300;
}

.certSide h2 {
  text-align: center;
}
.certSide p {
  padding-bottom: 2rem;
  font-size: 1.15rem;
  font-weight: 300;
  color: #fff;
}

/* skills */
.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.skill {
  background: var(--card-color);
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.1),
    inset 0 4px 8px rgba(0, 0, 0, 0.05);
  width: 12rem;
  height: 12rem;
  text-align: center;
  transition: transform 0.6s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.skill:hover {
  transform: translateY(-10px) rotate(360deg) scale(1.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 16px 32px rgba(0, 0, 0, 0.2),
    inset 0 6px 12px rgba(0, 0, 0, 0.1);
}
.skill h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #ccc;
}
.skill i {
  font-size: 3rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
  transition: transform 0.6s ease-in-out;
}
.skill:hover i {
  transform: rotate(-360deg);
  transform: scale(1.3);
}
/* Projects Section */
.projects {
  background-color: #000;
  text-align: center;
  padding: 3rem;
  /* background-color: #000; */
}

.projects h2 {
  padding: 3rem;

  font-size: 3rem;
  color: rgb(162, 163, 163);
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}
/* .projects h3{
    text-align: left;
    color: rgb(162, 163, 163);
    padding-left: 4rem;
} */
.project {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); /* Enhanced box shadow */
  width: 100%;
  text-align: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  background-color: var(--card-color);
}
.projectdes {
  text-align: center;
  color: rgb(162, 163, 163);
  padding-bottom: 1rem;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(255, 255, 255, 0.3); /* Deeper box shadow on hover */
}

.projectImgDiv {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.project img {
  width: 10rem;
  height: 15rem;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhanced box shadow */
}

.project-content {
  flex: 1;
  text-align: left;
}

.project h3 {
  font-size: 2.1rem;
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.project p {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.project .contText {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #fff;
}
.project span {
  color: #cfcfcf;
}
.project a {
  text-decoration: none;
  color: var(--accent-color);
  padding: 0.5rem 1rem;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  width: 12rem;
  transition: background-color 0.3s, color 0.3s;
  margin: 0.3rem;
}

.project a:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.project a i {
  margin-left: 0.65rem;
}

.projText {
  padding-top: 4.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.projText i {
  font-size: 2.5rem;
  margin: 1rem;
  color: #d3d3d3;
}

.certCon {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.textCont i {
  font-size: 3rem;
}

.textCont img {
  width: 300px;
}

.certIcon {
  display: flex;
  flex-direction: column;
}
.textCont {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 2rem);
  padding: 1.5rem;
  background-color: var(--card-color);
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.textCont:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.certIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.certIcon img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
}

.certIcon i {
  font-size: 2rem;
  color: #7a7a7a;
  margin-bottom: 0.5rem;
}

.textCont:hover .certIcon img {
  transform: scale(1.05);
}

.cert .textCont p {
  font-size: 1.15rem;
  font-weight: 300;
  color: #666;
  text-align: left;
  padding: 0 1rem;
}

/* footer */

.footer {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  color: #000000;
  border-top: 1px solid #ccc; /* Add border for separation */
}

.footer p {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;

  color: #fff;
}

/* end of footer */

/* Contact Section */
.contact {
  background-color: #000;
}
.contact-section {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-section h2 {
  margin-bottom: 1rem;
  color: #333;
}

.contact-section p {
  margin-bottom: 1.5rem;
  color: #666;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 300;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact-link {
  text-decoration: none;
  color: var(--accent-color);
  padding: 0.5rem 1rem;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-link:hover {
  background-color: var(--accent-color);
  color: #fff;
}
/* end contact */

/* DARK MODE */

body.dark-mode #bolt {
  color: #e4e4e4;
}

body.dark-mode .welcomeText h4 {
  color: #000000;
}
body.dark-mode li a {
  color: #e4e4e4;
}
body.dark-mode .welcome i {
  color: #ffffff;
}

body.dark-mode .welcomeText h1 {
  color: #ffffff;
}

body.dark-mode .welcome h3 {
  color: #e4e4e4;
}

body.dark-mode .aboutMe p,
body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

/* END OF DARK */

/* Media Queries for responsiveness */
@media (max-width: 810px) {
  .nav__hamburger {
    display: flex;
  }

  .nav__menu {
    position: absolute;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    top: -15rem;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }

  .nav {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }

  .nav__menu ul {
    background-color: none;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 0.6rem;
    align-items: center;
    justify-content: space-around;
  }

  .nav__menu ul li {
    text-align: center;
  }

  .nav__hamburger {
    display: flex;
  }

  .nav__menu {
    display: none;
  }

  .nav__menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav__hamburger__line {
    background: #848484;
  }
  .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
    transform: rotate(-45deg) translate(0.75rem, -0.54rem);
  }

  /* .WelcomeCon{
align-items: center;
justify-content: center;
z-index: 10000;
flex-wrap: wrap;
} */
  /* .welcomeText{
align-items: flex-start;
    justify-content: flex-end;
    z-index: 10000;
    padding-right: 1rem;

} */
  .social {
    display: none;
  }

  .certCon {
    flex-direction: column;
    width: 100%;
  }
  .textCont {
    width: 100%;
  }

  .aboutMe,
  .skills,
  .cert,
  .projects,
  .contact {
    padding: 0rem;
    margin: 0rem 0;
  }

  .paraCon {
    padding: 1rem;
  }
  .overlay {
    padding-top: 25.5rem;
  }
  .skills .landSide {
    padding: 1rem;
  }

  .skills .certSide {
    padding: 1rem;
  }
  .welcome {
    padding: 2rem;
    width: 100vw;

    height: 75vh;
  }

  .welcomeText h2 {
    font-size: 3rem;
    line-height: 1;
  }
  .welcomeRight {
    width: 100%;
    margin: 0;

    padding: 0;
  }
  .welcomeText {
    margin: 0;
    padding: 0;
  }
  .project {
    padding: 1.5rem;

    max-width: 300px;
  }
  .projects-container {
    padding: 1.5rem;
  }
  .WelcomeCon {
    flex-direction: column;
  }
  .headshotCon {
    position: relative;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .headshot {
    top: 0;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .nav {
    flex-direction: row;
    width: 100vw;
    height: 10vh;
  }
  .welcomeRight {
    width: 100%;
  }
}
